{% load static %} <!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="boxconteiner">
        <div class="box">
            <h1>Salam</h1>
            <p>Alma zordu.</p>
            <a href="https://az.wikipedia.org/wiki/Alma">🍎</a>
    </div>
        <div class="box">
            <h1>Salam</h1>
            <p>Banan da zordu.</p>
            <a href="https://az.wikipedia.org/wiki/Banan">🍌</a>
    </div>

    </div>
</body>
</html>